<div style="padding: 0px 20px 30px;border: 2px solid black;">
    <h3>Ng If</h3>
    <div style="padding:10px 20px; border: 1px dotted black;">
        <app-ng-if-asterisk></app-ng-if-asterisk>
    </div>
    <h3>Ng For</h3>
    <div style="padding:10px 20px; border: 1px dotted black;">
        <app-ng-for-asterisk></app-ng-for-asterisk>
    </div>
    <h3>Ng Switch</h3>
    <div style="padding:10px 20px; border: 1px dotted black;">
        <app-ng-switch-asterisk></app-ng-switch-asterisk>
    </div>
</div>